.translationButton {
  margin-top: 0;
  padding: 3px 20px;
  background-color: rgb(203, 224, 253);
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 500;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease,
    transform 0.2s ease;
}

.translationButton:hover {
  background-color: rgb(178, 199, 228);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
}

.translationButton:active {
  transform: scale(0.97);
  background-color: rgb(143, 193, 250);
}

@media (max-height: 750px) {
  .translationButton {
    padding: 2px 15px;
    font-size: 0.7rem;
    border-radius: 4px;
  }
}
